body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  background-image: url(../../assets/flaming_sun.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.header__container{
  display: flex;
  align-items: center;
  @include respond-to(medium){
    flex-direction: column;
  }
}

header {
  color: $yellow;
  background-color: $black;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  @include respond-to(medium){
    padding-bottom: 5%;
  }
  h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.3px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    @include respond-to(large){
      font-size: 50px;
    }
    }
  h2{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.3px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    @include respond-to(x-large){
      max-width: 600px;
      font-size: 28px;
    }
    @include respond-to(large){
      font-size: 26px;
    }
    @include respond-to(medium){
      font-size: 24px;
      margin: 10px 0px;
    }
   } 
}


.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  @include respond-to(medium){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.add-item {
  border-radius: 2px;
  border: 2px solid black;
  margin-right: 50px;
  background-color: black;
  padding: 60px 18px;
  box-shadow: 2px 4px 4px 4px $yellow2;
  margin-bottom: 34px;  
  width: 25%;
  margin-right: auto;
  height: 100%;
  @include respond-to(medium){
    width:60%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  @include respond-to(small){
    width: 90%;
  }
}

.display-item {
  width: 65%;
  margin-left: 50px;
  @include respond-to(small){
    width:100%;
  }
}

.display-item button {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  @include respond-to(medium){
    flex-direction: column;
  }
}

li {
  overflow: hidden;
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: black;
  color: $yellow;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  @include respond-to(medium){
    width: calc(100% - 50px);
    margin-right: 0;
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background: linear-gradient(to right, $yellow 30%, $tomato);
  margin: 0;
  color: black;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  min-width: 88px;
  background-color: $yellow;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: black;
  font-size: 18px;
  padding: 10px 6px;
  max-height: 50px;
  &:hover{
    background-color: $tomato;
    transition: all ease-out 0.3s;
  }
  @include respond-to(x-large){
    min-width: 100px;
    font-size: 16px;
    padding: 8px 5px;
  }
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

.warning{
  color: $yellow;
  margin-left: 10%;
  font-size: 30px;
  background-color: $black;
  display: inline-block;
  padding: 5px 20px;
}
